body{font-family:Arial;background:#f4f4f4;text-align:center}
header{background:#0a84ff;color:white;padding:20px}
.container{display:flex;justify-content:center}
.card{background:white;padding:20px;margin:15px;border-radius:10px}
button{background:#0a84ff;color:white;padding:10px;border:none}